.Rproj.user
.Rproj
.Rhistory
.RData
.httr-oauth
.httr-oauth-SUSPENDED
inst/doc
*.Rproj

auth.json
.Rproj.user/861FC2F/sdb/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/861FC2F/sdb/prop/INDEX
.Rproj.user/shared/notebooks/paths
